/* General rules */
h1{
    border-bottom: .25rem dotted #000;
    padding-bottom: .5rem;
}

p{
    padding-top: 1rem;
}

/* Specific rules */
#content img{
    display: block;
    margin: 1.75rem auto .75rem;
    max-width: 20rem;
    width: 100%;
}

h1 + p{
    padding-top: 1.5rem;
}